@model YAShop.Common.Service.Cart.Cart
@{
    ViewData["Title"] = "Checkout";
    Layout = "_Layout";
}
<link rel="stylesheet" href="stylesheet.scss">

@Html.Partial("_ProgressBar", 1)
<h1>Checkout</h1>

<div class="container">
  <div class="row">
    <div class="col-5">
            <h4 class="mt-4 mb-3 fw-bold"> Shipping address</h4>
                
            <div class="row ">
                <div class="col">
                    <div class=" form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput" placeholder="First Name" required/>
                    <label for="floatingInput"> First Name</label>
                    </div>
                </div>
                <div class="col">
                    <div class=" form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput" placeholder="Last Name" required/>
                    <label for="floatingInput"> Last Name</label>
                    </div>
                </div>
            </div>
           <div class=" form-floating mb-3">
             <input type="text" class="form-control" id="floatingInput" placeholder="Address Line 1" required />
                <label for="floatingInput">Address Line 1</label>
           </div>

            <div class="row ">
                <div class="col">
                    <div class="form-floatingmb-3">
                        <select class="form-select form-select-xl mb-3 countrypicker" aria-label=".form-select-lg example" style="height: 3.7rem;">
                            <option value="b">Бендеры</option>
                            <option value="t">Тирасполь</option>
                            <option value="r">Рыбница</option>
                            <option value="d">Дубоссары</option>
                            <option value="g">Григориополь</option>
                            <option value="c">Каменка </option>
                            <option value="s">Слободзея</option>
                            
                        </select>

                    </div>
                </div>
                <div class="col">
                    <div class=" form-floating mb-3">
                        <input type="tel" class="form-control" id="floatingInput" placeholder="Phone Number" required />
                        <label for="floatingInput">Phone Number</label>
                    </div>

                </div>
            </div>
         
         
            <div class="input-group form-floating mb-3">
                <input type="email" class="form-control" placeholder="Email" aria-label="Recipient's username" aria-describedby="basic-addon2"/>
                <span class="input-group-text" id="basic-addon2">@@</span>
                <label for="floatingInput">Email</label>
            </div>
       
    </div>
        <div class="col-1 d-flex" style="height: 380px;">
            
                <div class="vr"></div>

         </div>
        <div class="col-6">
           
             <h4 class="mt-4 mb-3 fw-bold">Summary</h4>
                 <div class="card">
                      <div class="card-body">

                            <div class="  d-flex justify-content-between ">
                        <div style="font-size:18px; ">Subtotal</div>
                        <span style=" font-size:18px;" class="text-muted">@Model.TotalAmount.ToString("$0.00")   </span>
                         </div>
                          <div class=" mt-1 d-flex justify-content-between">
                        <div style=" font-size:18px;">Shipping</div>
                        <span style =" font-size:16px;" class="text-muted">Calculated at next step</span>
                         </div>
                          
                         <div class=" d-flex justify-content-between mt-2">
                        <div style="font-weight:700;font-size:18px;">Total (USD)</div>
                        <strong style=" font-size:18px;" >@Model.TotalAmount.ToString("$0.00")    </strong>
                         </div>
                      </div>
                </div>
            <table class="table mt-5">
                <tbody >
                   @foreach (var i in Model.Items)
                    {
                    <tr>
                       
                            <td><img src="@i.Image" style="height: 100px;" />  </td>
                            <td>
                                <a href="/Catalog/View/@i.ProductId">@i.Title</a>
                                <div class="d-flex justify-content-between  mt-3">
                                <div class=" text-muted ">QTY: @(i.QTY) * @i.Price.ToString("$0.00")</div>
                            <span class="text-end" style="font-weight:500">@((i.QTY * i.Price).ToString("$0.00"))</span>
                             
                                </div>
                            </td>
                    </tr>
                   }
                </tbody>
            </table>
           
        </div>
       
  </div>
    <div class="d-grid gap-2 col-6 mx-auto mt-md-5">
        <button class="btn btn-primary" type="button">Continue to billing</button>
    </div>
</div>
