@model YAShop.Common.Service.Cart.Cart
@{
    ViewData["Title"] = "Home Page";

}
<style>
    .cart td {vertical-align: middle}
</style>
<div>
    <h1>My shopping cart</h1>
    @if (Model.IsEmpty)
    {
        <div class="alert alert-warning">Your shopping cart is empty, <a href="/">back to shop</a></div>
    }
    else
    {
        <div>
            <table class="table table-hover cart">
                <tr>
                    <th></th>
                    <th>Title</th>
                    <th class="text-end">Price</th>
                    <th class="text-end">QTY</th>
                    <th class="text-end">Subtotal</th>
                    
                </tr>
                @foreach (var i in Model.Items)
                {
                    <tr>
                        <td><img src="@i.Image" style="height: 60px;" /></td>
                        <td>@i.Title</td>
                        <td class="text-end">@i.Price.ToString("$0.00")</td>
                        <td class="text-end">@i.QTY</td>
                        <td class="text-end">@((i.QTY * i.Price).ToString("$0.00"))</td>
                    </tr>
                }
                <tr>
                    <td colspan="2">TOTAL:</td>
                    <td></td>
                    <td></td>
                    <td class="text-end lead fw-bold">@Model.TotalAmount.ToString("$0.00")</td>
                </tr>
            </table>
        </div>
        <div class="mt-2 text-end">
            
            <a href="/" class="btn btn-lg btn-secondary">Continue shopping</a>
            <input type="submit" value="Checkout" class="btn btn-lg btn-primary" />
        </div>
    }

    </div>
