@model YAShop.Common.Service.Cart.Cart

@{
    ViewData["Title"] = "Cart";
}

<style>
    .cart td {
        vertical-align: middle
    }

    .cart tr:last-child td {
        border-bottom: 0;
    }
</style>

<div>
    @Html.Partial("_ProgressBar", 0)
    <h1>My shopping cart</h1>
    @if (Model.IsEmpty)
    {
        <div class="alert alert-warning">Your shopping cart is empty, <a href="/">back to shop</a></div>
    }
    else
    {
        <div>
            <table class="table cart">
                <tr>
                    <th></th>
                    <th>Title</th>
                    <th class="text-end">Price</th>
                    <th class="text-center">QTY</th>
                    <th class="text-end">Subtotal</th>

                </tr>
                @foreach (var i in Model.Items)
                {
                    <tr>
                        <td><img src="@i.Image" style="height: 60px;" /></td>
                        <td> <a href="/Catalog/View/@i.ProductId">@i.Title</a></td>
                        <td class="text-end">@i.Price.ToString("$0.00")</td>
                        <td class="text-center">
                            <div class="input-group" style="width: fit-content;    margin: 0 auto;">
                                <a href="#" class="btn btn-sm btn-outline-primary"><i class="fa fa-minus"></i></a>
                                <input type="text" class="form-control form-control-sm disabled text-center" style="width: 42px;" readonly value="@i.QTY" />
                                <a href="#" class="btn btn-sm btn-outline-primary"><i class="fa fa-plus"></i></a>
                            </div>

                        </td>
                        <td class="text-end">@((i.QTY * i.Price).ToString("$0.00"))</td>
                    </tr>
                }
                <tr>
                    <td colspan="2">TOTAL:</td>
                    <td></td>
                    <td></td>
                    <td class="text-end lead fw-bold">@Model.TotalAmount.ToString("$0.00")</td>
                </tr>
            </table>
        </div>
        <div class="mt-2 text-end">

            <a href="/" class="btn me-2 btn-secondary">Continue shopping</a>
            <a  class="btn btn-primary" href="/Cart/Checkout/">Checkout</a>
        </div>
    }

</div>