@model YAShop.Common.Domain.Product

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
    var inStock = Model.QTY > 0;
}


<div class="row mt-4">
    <h3 class="">@Model.Title</h3>

    <div class="col-md-5 text-center mt-4"><img src="@Model.Image" style="max-width: 100%;" /></div>
    <div class="col-md-1"></div>
    <div class="col-md-6 mt-4">
        <div class="mt-4 fw-bold"></div>
        @using (Html.BeginForm("Add", "Cart", FormMethod.Post))
        {
            <div class="row mt-2">
                <input type="hidden" name="id" value="@Model.Id"/>
                <div class="col-md-6 mt-2 fs-3 fw-bold">$@Model.Price.ToString("0.00")</div>
                <div class="col-md-6 mt-2">
                    <div class="input-group"><input type="number" name="qty" value="1" min="1" class="form-control text-end @(Model.QTY == 0 ? "disabled" : "")"/>
                        <input type="submit" value="Add to cart" style="width: 70%" class="btn btn-primary" @(Model.QTY == 0 ? "disabled=disabled" : "")/>
                    </div>
                </div>
            </div>
        }
        <div class="mt-4">@Html.Raw(inStock ? "In stock: " + @Model.QTY : "<span class='text-danger'>Out of stock</span>")</div>
        <div class="mt-2">SKU: @Model.SKU</div>
        <div class="mt-4 fw-bold">Description</div>
        <div class="mt-2">@Html.Raw(Model.Description)</div>

    </div>
</div>
