@model Sprut.MyShop.Product
@{
    ViewData["Title"] = "Product Edit";
}

Редактирование выбранного SKU

Model.Price.ToString("n2");

@using (Html.BeginForm())
{
    <p>SKU @Html.DisplayFor(m => m.SKU)</p>
    <p>Title @Html.EditorFor(m => m.Title)</p>
    <p>Price Html.DisplayFor(m => m.Price)</p>
    <p>Qty @Html.EditorFor(m => m.Qty)</p>
    <p>Image @Html.EditorFor(m => m.Image)</p>
    <p>Descriton @Html.EditorFor(m => m.Descripton)</p>
    <p>Category Html.EditorFor(m => m.CategoryId)</p>

    
        <input type="submit" value="Отправить" />

}