@model Sprut.MyShop.Category
@{
    ViewBag.Title = "CatEdit";
}

<h2>CatEdit</h2>

@if (ViewBag.Action == "Изменить")
{
    @Html.Label("Редактирование выбранной категории")
    ;
}
else
{
    @Html.Label("Добавление новой категории")
    ;
}

@using (Html.BeginForm())
{
    <p>Id @Html.EditorFor(m => m.Id)</p>
    <p>ParentId @Html.EditorFor(m => m.ParentId)</p>
    <p>Name @Html.EditorFor(m => m.Name)</p>


    <input type="submit" value="@ViewBag.Action"/>
}