@model Sprut.StoreAdmin.Models.ProductViewModel
@using Sprut.MyShop.Infrastructure

@{
    ViewBag.Title = "Index";
}

<br />
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Products list</h3>
    </div>
    <div class="panel-body">
        <nav class="navbar navbar">
            <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-default">Add new product</button>
                <button type="button" class="btn btn-default" data-toggle="collapse" href="#collapseFilter" aria-expanded="false">Filter</button>
                <button type="button" class="btn btn-default">Import CSV</button>
                <button type="button" class="btn btn-default">Export CSV</button>
            </div>
        </nav>
        <div class="collapse" id="collapseFilter">
            <div class="well">
                <form method="post" class="form-horizontal">

                    <label for="fCategory">Category</label>
                    <select class="form-control" id="fCategory" name="fCategory">
                        @foreach (var c in Registry.Current.Categories.GetPlanarTree())
                        {
                            <option value=@c.Id.ToString() @if (c.Id.ToString() == Model.CategoryId) { @Html.Raw("selected")  }>@c.FullName</option>
                        }
                    </select>

                    <label for="fName">Product name</label>
                    <input class="form-control" id="fName" name="fName" value=@Model.Name>

                    <label for="fCategory">Sort by</label>
                    <select class="form-control" id="fSort" name="fSort">
                        <option value="SKU" @if (Model.Order == "SKU") { @Html.Raw("selected") }>SKU</option>
                        <option value="Title" @if (Model.Order == "Title") { @Html.Raw("selected") }>Title</option>
                        <option value="Price" @if (Model.Order == "Price") { @Html.Raw("selected") }>Price</option>
                        <option value="Qty" @if (Model.Order == "Qty") { @Html.Raw("selected") }>Qty</option>
                    </select>

                    <label for="fPriceMin">Product price min</label>
                    <input class="form-control" id="fPriceMin" name="fPriceMin" type="number" value=@Model.MinPrice>
                    <label for="fPriceMax">Product price max</label>
                    <input class="form-control" id="fPriceMax" name="fPriceMax" type="number" value=@Model.MaxPrice>


                    <button type="submit" class="btn btn-default">Apply</button>
                    <button type="reset" class="btn btn-default">Reset</button>
                </form>
            </div>
        </div>
        <table class="table table-hover">
            <tr>
                <td>SKU</td>
                <td>Title</td>
                <td>Qty</td>
                <td>Price</td>
                <td>Image</td>
                <td>Descripton</td>
                <td>Category</td>
                <td></td>
            </tr>

            @foreach (var p in ViewBag.Products)
            {
                <tr>
                    <td>@p.SKU</td>
                    <td>@p.Title</td>
                    <td>@p.Qty</td>
                    <td>@p.Price</td>
                    <td>@p.Image</td>
                    <td>@p.Descripton</td>
                    <td>@Registry.Current.Categories.Find(p.CategoryId)</td>
                    <td>@Html.ActionLink("Edit", "Edit", new { sku = p.SKU }) @Html.ActionLink("Delete", "DeleteProduct", new { sku = p.SKU })</td>
                </tr>
            }
        </table>
        @*bad working in filter mod*@
        <nav aria-label="Page navigation" class="text-center">
            <ul class="pagination">
                <li>
                    <a href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                @for (var i = 0; i < ViewBag.Count / 10; i++)
                {
                    <li>@Html.ActionLink((i + 1).ToString(), "Index", new { page = i + 1 })</li>
                }
                <li>
                    <a href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>









