@model Sprut.StoreAdmin.Models.ProductViewModel
@using Sprut.MyShop.Infrastructure
@using Sprut.StoreAdmin.Models

@{
    ViewBag.Title = "Index";
}

<br />
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Products list</h3>
    </div>
    <div class="panel-body">
        <nav class="navbar navbar">
            <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-default">Add new product</button>
                <button type="button" class="btn btn-default" data-toggle="collapse" href="#collapseFilter" aria-expanded="false">Filter</button>
                <button type="button" class="btn btn-default">Import CSV</button>
                <button type="button" class="btn btn-default">Export CSV</button>
            </div>
        </nav>
        <div class="collapse" id="collapseFilter">
            <div class="well">
                <form class="form-horizontal" name="m">
                    
                    @Html.HiddenFor(m=>m.CurrentPage, 1)
                    @Html.Label("FilterCategoryId","Category")
                    @Html.DropDownListFor(m=>m.FilterCategoryId, (SelectList)Model.CategorySelectList,Model.FilterCategoryId,new{@class="form-control"})
                    @Html.Label("FilterTitle","Product name contains")
                    @Html.EditorFor(m=>m.FilterTitle,new{@class="form-control"})
                    @Html.Label("FilterSort","Sort by")
                    @Html.DropDownListFor(m=>m.FilterSort,new SelectList(new string[] {"SKU","Title","Price","Qty"}),Model.FilterSort,new{@class="form-control"})
                    @Html.RadioButtonFor(m=>m.FilterSortDirection,0) 
                    <span>Up</span>
                    @Html.RadioButtonFor(m => m.FilterSortDirection, 1)
                    <span>Down</span>
                    @Html.Label("FilterMinPrice","Minimal product price")
                    @Html.EditorFor(m=>m.FilterMinPrice,new{@class="form-control"})
                    @Html.Label("FilterMaxPrice","Maximal product price")
                    @Html.EditorFor(m=>m.FilterMaxPrice,new{@class="form-control"})

                    <button type="submit" class="btn btn-default">Apply</button>
                    <button type="reset" class="btn btn-default">Reset</button>
                </form>
            </div>
        </div>
        <table class="table table-hover">
            <tr>
                <td>SKU</td>
                <td>Title</td>
                <td>Qty</td>
                <td>Price</td>
                <td>Image</td>
                <td>Descripton</td>
                <td>Category</td>
                <td></td>
            </tr>

            @foreach (var p in ViewBag.Products)
            {
                <tr>
                    <td>@p.SKU</td>
                    <td>@p.Title</td>
                    <td>@p.Qty</td>
                    <td>@p.Price</td>
                    <td>@p.Image</td>
                    <td>@p.Descripton</td>
                    <td>@Registry.Current.Categories.Find(p.CategoryId)</td>
                    <td>@Html.ActionLink("Edit", "Edit", new { sku = p.SKU }) @Html.ActionLink("Delete", "DeleteProduct", new { sku = p.SKU })</td>
                </tr>
            }
        </table>
        @*bad working in filter mod*@
        <nav aria-label="Page navigation" class="text-center">
            <ul class="pagination">
                <li>
                    <a href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                @for (var i = 0; i < ViewBag.Count / 10; i++)
                {
                    <li>@Html.ActionLink((i + 1).ToString(), "Index", new { page = i + 1 })</li>
                }
                <li>
                    <a href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>









