@model Sprut.StoreAdmin.Models.ProductViewModels
@using System.Text.RegularExpressions
@using System.Web.UI.WebControls
@using Sprut.MyShop.Domain
@using Sprut.MyShop.Infrastructure
@using Sprut.StoreAdmin.Models

@{
    ViewBag.Title = "Products list";
}

<br />
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Products list</h3>
    </div>
    <div class="panel-body">
        <nav class="navbar navbar">
            <div class="btn-group" role="group" aria-label="...">
                <button type="button" onclick="location.href='@Url.Action("Edit", "Product")'" class="btn btn-default">Add new product</button>
                <button type="button" class="btn btn-default">Import CSV</button>
                <button type="button" class="btn btn-default">Export CSV</button>
            </div>
        </nav>
            <div class="well">
                <form class="form-inline" id="filter">
                    @Html.HiddenFor(m => m.CurrentPage, new{id="CurrentPage"})
                    @Html.HiddenFor(m => m.FilterSort, new { id = "FilterSort" })
                    @Html.HiddenFor(m => m.FilterSortDirection, new { id = "FilterSortDirection" })
                    <div class="col-md-4">
                        @Html.EditorFor(m => m.FilterTitle, new { HtmlAttributes = new { @class = "form-control", placeholder = "SKU \\ Title \\ Description", style = "width:90%" } })
                        <a href=# data-toggle=tooltip title="Use SKU: or DESC: to search by other fields">
                            <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                        </a>
                    </div>
                    <div class="col-md-5">
                    @Html.DropDownListFor(m => m.FilterCategoryId, (SelectList) Model.CategorySelectList,"Choose category...", new { @class = "form-control"} )
                    </div>  
                    <button type="submit" class="btn btn-default">Filter</button>
                    <a href="#" onclick="reset()"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
                </form>
        </div>
        <table class="table table-hover">
            <tr>
                <td><a href="#" onclick="sort('SKU')">SKU</a></td>
                <td><a href="#" onclick="sort('Title')">Title</a></td>
                <td><a href="#" onclick="sort('Qty')">Qty</a></td>
                <td>Price</td>
                <td>Image</td>
                <td>Descripton</td>
                <td>Category</td>
                <td></td>
            </tr>

            @foreach (var p in ViewBag.Products)
            {
                <tr>
                    <td>@p.SKU</td>
                    <td>@p.Title</td>
                    <td>@p.Qty</td>
                    <td>@p.Price</td>
                    <td>@p.Image</td>
                    <td>@Regex.Replace(p.Descripton, "<[^>]+>", string.Empty)</td>
                    <td>@Registry.Current.Categories.Find(p.CategoryId).Name</td>
                    <td>@Html.ActionLink("Edit", "Edit", new {id = p.Id }) @Html.ActionLink("Delete", "DeleteProduct", new { id = p.Id })</td>
                </tr>
            }
        </table>
        <nav aria-label="Page navigation" class="text-center">
            <ul class="pagination">
                <li><a href="#" onClick="goto(@(Model.CurrentPage-1))" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                @for (var i = 1; i < ViewBag.Count / 10; i++)
                {
                    if (i == Model.CurrentPage){<li><a href="#" onclick="goto(@i)"><strong>@i</strong></a></li>}
                    else{<li><a href="#" onclick="goto(@i)">@i</a></li>}
                }
                <li><a href="#" onClick="goto(@(Model.CurrentPage+1))" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
            </ul>
        </nav>
    </div>
</div>



@section scripts
{
    <script>
        $(document).ready(function() {
            $("#CurrentPage").val(1);
        });

        function goto(page) {
            if (page == 0) { page = 1 };
            if (page > @ViewBag.Count) { page =@ViewBag.Count};
            $("#CurrentPage").val(page);
            $("#filter").submit();
        };

        function reset() {
            $("#FilterTitle").val(null);
            $("#FilterCategoryId").val(null);
            $("#FilterDescription").val(null);
            $("#filter").submit();
        };

        function sort(col) {
            if (col == "SKU") { $("#FilterSort").val("SKU") };
            if (col == "Title") { $("#FilterSort").val("Title") };
            if (col == "Qty") { $("#FilterSort").val("Qty") };
            if ($("#FilterSortDirection").val() == "0") { $("#FilterSortDirection").val("1") }
            else { $("#FilterSortDirection").val("0")};
            $("#filter").submit();
        }

    </script>
}








