@model Sprut.StoreAdmin.Models.ProductViewModels
@using System.Text.RegularExpressions
@using System.Web.UI.WebControls
@using ImageStore
@using Sprut.MyShop.Domain
@using Sprut.MyShop.Infrastructure
@using Sprut.StoreAdmin.Models

@{
    ViewBag.Title = "Products list";
}

<br />
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Products list</h3>
    </div>
    <div class="panel-body">
        <nav class="navbar navbar">
            <div class="btn-group" role="group" aria-label="...">
                <button type="button" onclick="location.href='@Url.Action("Edit", "Product")'" class="btn btn-default">Add new product</button>
                <button type="button" class="btn btn-default" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Group actions <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li><a href="#SetQty" data-toggle="modal" data-target="#SetQty">Set QTY</a></li>
                    <li><a href="#ChangePrice" data-toggle="modal" data-target="#ChangePrice">Change price</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#" onclick="groupDelete()">Delete</a></li>
                </ul>
                <button type="button" class="btn btn-default">Free</button>
            </div>
        </nav>

        <!--Modal windows for SetQty-->
        <div class="modal fade" id="SetQty" tabindex="-1" role="dialog" aria-labelledby="SetQty">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="SetQtyModalLabel">Set QTY</h4>
                    </div>
                    <div class="modal-body">
                        <div class="input-group">
                            <div class="input-group-addon">Set</div>
                            <input type="number" min="0" class="form-control text-right" id="SetQtynumber" value="99">
                            <div class="input-group-addon">qty</div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" onclick="SetQtynumber()">Apply</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        
        <!--Modal windows for ChangePrice-->
        <div class="modal fade" id="ChangePrice" tabindex="-1" role="dialog" aria-labelledby="ChangePrice">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="ChangePriceModalLabel">Change price</h4>
                    </div>
                    <div class="modal-body">
                        <div class="input-group">
                            <div class="input-group-addon">Set</div>
                            <input type="number" min="0" class="form-control text-right" id="ChangePriceNumber" value="9,99">
                            <div class="input-group-addon">price</div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" onclick="ChangePriceNumber()">Apply</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="well">
            <form class="form-inline" id="filter">
                @Html.HiddenFor(m => m.CurrentPage, new {id = "CurrentPage"})
                @Html.HiddenFor(m => m.FilterSort, new {id = "FilterSort"})
                @Html.HiddenFor(m => m.FilterSortDirection, new {id = "FilterSortDirection"})
                <div class="col-md-4">
                    @Html.EditorFor(m => m.FilterTitle, new {HtmlAttributes = new {@class = "form-control", placeholder = "SKU \\ Title \\ Description", style = "width:90%"}})
                    <a href=# data-toggle=tooltip title="Use SKU: or DESC: to search by other fields">
                        <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                    </a>
                </div>
                <div class="col-md-5">
                    @Html.DropDownListFor(m => m.FilterCategoryId, (SelectList) Model.CategorySelectList, "Choose category...", new {@class = "form-control", style = "width:100%"})
                </div>
                <button type="submit" class="btn btn-default">Filter</button>
                <a href="#" onclick="reset()">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </a>
            </form>
        </div>
        
        <form id="selectProduct">
            <table class="table table-hover">
                <tr>
                    <td><input type="checkbox" name="selectedallproducts" id="selectedallproducts" value="all"></td>
                    <td><a href="#" onclick="sort('SKU')">SKU</a></td>
                    <td><a href="#" onclick="sort('Title')">Title</a></td>
                    <td class="text-center"><a href="#" onclick="sort('Qty')">Qty</a></td>
                    <td class="text-center">Price</td>
                    <td>Image</td>
                    <td>Category</td>
                    <td></td>
                </tr>

                @foreach (var p in ViewBag.Products)
                {
                    <tr>
                        <td><input type="checkbox" name="selectedproducts" id="selectedproducts" value="@p.Id"></td>
                        <td>@p.SKU</td>
                        <td>@p.Title</td>
                        <td class="text-right">@p.Qty</td>
                        <td class="text-right">@p.Price</td>
                        <td><img src="@p.Image" alt="tmb"/></td>
                        <td>@Registry.Current.Categories.Find(p.CategoryId).Name</td>
                        <td>@Html.ActionLink("Edit", "Edit", new { id = p.Id }) <a href="#" onclick="Delete('@p.Id')">Delete</a></td>
                    </tr>
                }
            </table>
        </form>
        <nav aria-label="Page navigation" class="text-center">
            <ul class="pagination">
                <li><a href="#" onClick="goto(@(Model.CurrentPage-1))" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                @for (var i = 1; i < ViewBag.Count / 10; i++)
                {
                    if (i == Model.CurrentPage){<li><a href="#" onclick="goto(@i)"><strong>@i</strong></a></li>}
                    else{<li><a href="#" onclick="goto(@i)">@i</a></li>}
                }
                <li><a href="#" onClick="goto(@(Model.CurrentPage+1))" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
            </ul>
        </nav>
    </div>
</div>

@section scripts
{
    <script>
        //Set current page default value
        $(document).ready(function() {
            $("#CurrentPage").val(1);
        });

        //Function go to desired page
        function goto(page) {
            if (page === 0) {
                page = 1;
            };
            if (page > @ViewBag.Count) {
                page = @ViewBag.Count;
            };
            $("#CurrentPage").val(page);
            $("#filter").submit();
        };

        //Reset button on filter form
        function reset() {
            $("#FilterTitle").val(null);
            $("#FilterCategoryId").val(null);
            $("#FilterDescription").val(null);
            $("#filter").submit();
        };

        //Function sort on click title columns
        function sort(col) {
            if (col === "SKU") {
                $("#FilterSort").val("SKU");
            };
            if (col === "Title") {
                $("#FilterSort").val("Title");
            };
            if (col === "Qty") {
                $("#FilterSort").val("Qty");
            };
            if ($("#FilterSortDirection").val() === "0") {
                $("#FilterSortDirection").val("1");
            } else {
                $("#FilterSortDirection").val("0");
            };
            $("#filter").submit();
        };

        //Select/unselect all
        $("#selectedallproducts").change(function () {
            if ($("#selectedallproducts").prop("checked") === true) {
                $("#selectProduct input").prop("checked", true);
            } else {
                $("#selectProduct input").prop("checked", false);
            }
        });

        //Count selected item function
        function CBcounter() {
            var count = $('#selectProduct').find('input[id="selectedproducts"]:checked').length;
            return count;
        }

        function groupAction(act) {
            $("#action").val(act);
            $("#moveCategory").val($("#moveTo").val());
            $("#selectProduct").submit();
        };

        //Delete function
        function Delete(product) {
            var ok = confirm("Are you sure delete item?");
            if (!ok) return;
            $.ajax({
                url: '/Product/Delete',
                type: 'POST',
                data: { selectedItems: product },
                async: false,
                success: null
            });
            window.location.reload(false);
        }

        function groupDelete() {
            var ok = confirm("Are you sure delete " + CBcounter() + " items?");
            if (!ok) return;
            var selectedItems = new Array();
            $('input[id="selectedproducts"]:checked').each(function() {selectedItems.push($(this).val());});
            $.ajax({
                url: '/Product/Delete',
                type: 'POST',
                data: { selectedItems: selectedItems },
                async: false,
                success: null
            });
            window.location.reload(false);
        }
        
        function SetQtynumber() {
            var selectedItems = new Array();
            $('input[id="selectedproducts"]:checked').each(function () { selectedItems.push($(this).val()); });
            var qty = $("#SetQtynumber").val();
            $.ajax({
                url: '/Product/SetQty',
                type: 'POST',
                data: { selectedItems: selectedItems, qty: qty },
                async: false,
                success: null
            });
            window.location.reload(false);
        }

        function ChangePriceNumber() {
            var selectedItems = new Array();
            $('input[id="selectedproducts"]:checked').each(function () { selectedItems.push($(this).val()); });
            var price = $("#ChangePriceNumber").val();
            $.ajax({
                url: '/Product/ChangePrice',
                type: 'POST',
                data: { selectedItems: selectedItems, price: price },
                async: false,
                success: null
            });
            window.location.reload(false);
        }

        //Set focus on modal show
        $('#SetQty').on('shown.bs.modal',
            function() {
                $('#SetQtynumber').select();
            });
        $('#ChangePrice').on('shown.bs.modal',
            function () {
                $('#ChangePriceNumber').select();
            });

    </script>
}









