@model Sprut.StoreAdmin.Models.CategoryViewModels
@{
    ViewBag.Title = "Category list";
}

<br />
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Products list</h3>
    </div>
    <div class="row panel-body">
    <div class="col-md-6">
        <nav class="navbar navbar">
            <div class="btn-group" role="group" aria-label="...">
                <button type="button" onclick="location.href='@Url.Action("", "")'" class="btn btn-default">Function One</button>
                <button type="button" class="btn btn-default">Function Two</button>
                <button type="button" class="btn btn-default">Function Three</button>
            </div>
        </nav>
        <div class="well">
            <table class="table table-hover">
                <tr>
                    <td>Full name</td>
                    <td></td>
                </tr>

                @foreach (var c in @Model.CategoryTreeItems)
                {
                    <tr>
                        <td>@c.FullName</td>
                        <td class="text-right">@Html.ActionLink("Edit", "Index", new {id = c.Id }) @Html.ActionLink("Delete", "Delete", new { id = c.Id })</td>
                    </tr>
                }
            </table>

        </div>
    </div>
    <div class="col-md-6">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#edit" aria-controls="home" role="tab" data-toggle="tab">Add and Edit</a></li>
            <li role="presentation"><a href="#import" aria-controls="profile" role="tab" data-toggle="tab">Import</a></li>
            <li role="presentation"><a href="#export" aria-controls="messages" role="tab" data-toggle="tab">Export</a></li>
            <li role="presentation"><a href="#" aria-controls="settings" role="tab" data-toggle="tab">Temp 4</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="edit">
                <br/>
                <form method="post">
                    @Html.HiddenFor(m => m.Category.Id)
                    <div class="form-group">
                        <label for="Category.Name">Category name</label>
                        @Html.EditorFor(m => m.Category.Name, new {HtmlAttributes = new {@class = "form-control", placeholder = "Enter name is new category"}})
                    </div>
                    <div class="form-group">
                        <label for="Category.ParentId">Parent category name</label>
                        @Html.DropDownListFor(m => m.Category.ParentId, (SelectList) Model.CategorySelectList, "No parent category", new {@class = "form-control"})
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-10 col-sm-1">
                            <button type="submit" class="btn btn-default">Apply</button>
                        </div>
                    </div>
                </form>
            </div>
            <div id="import" role="tabpanel" class="tab-pane">
                <label>Example: Cat1 > Cat2 > Cat3</label>
                <textarea id="ImportTextarea" rows="5"></textarea>
                <button onclick="Import()">Import</button>
            </div>
            <div id="export"role="tabpanel" class="tab-pane">
                Select category for Export
                @Html.DropDownList("exportCat", Model.CategorySelectList, "Select category", new {@class = "form-control"})
                <button onclick="Export()">Export</button>
                <br>
                <form>
                <textarea id="ExportResult" class="form-control" rows="5">null</textarea>
                </form>
            </div>
            <div role="tabpanel" class="tab-pane" id="">...</div>
        </div>

        
    </div>
    </div>
</div>

@section scripts
{
    <script>
        function Import() {
            $.ajax({
                url: '/Category/Import',
                type: 'POST',
                data: { categoryStrings: $('#ImportTextarea').val() },
                async: false,
                success: null
            });
            window.location.reload(false);
        }

        function Export() {
            var result = "";
            $.ajax({
                url: '/Category/Export',
                type: 'POST',
                data: { id: $('#exportCat').val() },
                async: false,
                success: function(data){
                        result = data;
                }
            });
            $("#ExportResult").val(result);
        }
    </script>
}