@using YAShop.Common
@using Microsoft.Extensions.Primitives
@{
    var cart = Registry.Current.CartService.GetCart();
    var query = Context.Request.Query.ContainsKey("query") ? Context.Request.Query["query"].First():null;
    var s = query;
    var pages = Registry.Current.CustomPages.SelectAll().ToList();
    pages.Sort((p1, p2) => p1.Order.CompareTo(p2.Order));
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - YAShop</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/YAShop.Web.Storefront.styles.css" asp-append-version="true" />
    <script src="https://kit.fontawesome.com/65af487970.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                 <a class="navbar-brand" href="/">YAShop</a>
                 <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                     <span class="navbar-toggler-icon"></span>
                 </button>
                 <div class="collapse navbar-collapse" id="navbarSupportedContent">
                     <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                        <li class="nav-item"><a class="nav-link " href="/Catalog/">Catalog</a></li>
                        
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle " href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Categories
                            </a>
                            <ul class="dropdown-menu">

                                @foreach (var c in Registry.Current.StoreCategories.SelectAll())
                                {
                                    <li><a class="dropdown-item" href="/Catalog/Index/?categoryId=@c.Id">@c.Name</a></li>
                                }
                            </ul>
                        </li>

                        @foreach (var p in pages)
                        {
                            <li class="nav-item">
                                <a class="nav-link" href="/CustomPages/View/?alias=@p.Alias">@p.Title</a>
                            </li>

                        }
                    </ul>

                    <form class="d-flex input-group me-2 w-auto"  method="get" action="/Catalog/">
                        <input type="search"
                               class="form-control rounded"
                               placeholder="Search"
                               aria-label="Search"
                               aria-describedby="search-addon"
                               name="query"/>
                        <input type="submit" class="btn btn-primary" id="search-addon" value="search"/>
                    </form>
                </div>
                <span class="navbar-text  me-2">
                    <a class="btn btn-primary position-relative text-white @(cart.IsEmpty ? "disabled":"")" style="padding: " href="/Cart/">
                            <i class="fa-solid fa-cart-shopping"></i> Cart
                           @if (!cart.IsEmpty)
                           {
                               <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">@cart.TotalCount</span>
                           }
                       </a>
                </span>

            </div>

               
         
        </nav>
     

    </header>
    <div class="container mb-2">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <form> </form>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - Yet Another Shop
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
