@using Sprut.MyShop.Infrastructure
@model Sprut.StoreAdmin.Models.ImagesIndexDto
@{
    ViewBag.Title = "Products list";
}

<form id="selectProduct">
    <table class="table table-hover">
        <tr>
            <td><input type="checkbox" name="selectedallproducts" id="selectedallproducts" value="all"></td>
            <td>Id (for debug)</td>
            <td>Folder</td>
            <td>Image name</td>
            <td>Tmb</td>
            <td>Action</td>
        </tr>
        
        @foreach (var f in Model.Folders)
        {
            <tr>
                <td><input type="checkbox" name="selectedproducts" id="selectedproducts" value="@f.Id"></td>
                <td>@f.Id</td>
                <td>@Html.ActionLink("Dir", "Index", new { folderId = f.Id })</td>
                <td>@f.Name</td>
                <td><img src="Image" alt="f_img" /></td>
                <td>@Html.ActionLink("Edit", "Edit", new { id = f.Id }) <a href="#" onclick="Delete('@f.Id')">Delete</a></td>
            </tr>
        }

        @foreach (var i in Model.Images)
        {
            <tr>
                <td><input type="checkbox" name="selectedproducts" id="selectedproducts" value="@i.Image.Id"></td>
                <td>@i.Image.Id</td>
                <td>@i.Image.Folder</td>
                <td>@i.Image.Name</td>
                <td><img src="@i.ImageUrl" alt="tmb" /></td>
                <td>@Html.ActionLink("Edit", "Edit", new { id = i.Image.Id }) <a href="#" onclick="Delete('@i.Image.Id')">Delete</a></td>
            </tr>
        }
    </table>
</form>